.paralax {
    background: url(../images/best_pic.jpeg) #f8eef8; 
    height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.opener {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding-top: 75px;
    padding-bottom: 75px;
    margin-bottom: 20px;
}

.opener p {
    font-size: 14px;
    padding: 10px;
    padding-bottom: 2px;
    background: #f8eef8;
    grid-column: 2 / 3;
}

img{
    height: 170px;
    width: auto;
    border: 3px solid rosybrown;
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.gallery_about_me div {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 20px;
    justify-items: center;
}

.gallery_about_me {
    display: grid;
    justify-items: center;
}

.picture_gallery {
    display: grid;
    grid-template-columns: 1fr; 
    column-gap: 40px; 
    row-gap: 15px;
    justify-items: center;
}

.picture_gallery .flex_card {
    display: flex;
    background-color: #cad9df;
    padding-bottom: 0px;
    margin-bottom: 10px;;
}

.flex_card {
    flex-direction: column-reverse;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.flex_text {
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background: none;
}

.flex_card:hover {
    transform: scale(1.08);
}

img:hover{
    box-shadow: 3px 3px grey;
    border: 3px solid rgb(212, 97, 135);
}

ul{
    color: rosybrown;
    border: solid grey;
    font-weight: normal;
    text-align: center;
}

p {
    font-size: 17px;
    font-family: 'Lato', 'sans-serif';
    padding-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

header nav li{
    text-decoration: none;
    background-color: rosybrown;
    border: 1px solid grey;
    padding: 5px 3px;
}

ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.active {
    font-weight: bold;
    background-color: palevioletred;
}

a{
    color: black;
    background-color: transparent;
}

h1{
    font-size: 50px;
    font-style: italic;
    color:black;
    border: 2px dashed grey;
    text-decoration: underline;
    text-shadow: 1px 1px black;
    font-family: 'Lato', 'sans-serif';
    padding: 5px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

h2{
    font-size: 30px;
    font-style: italic;
    text-decoration: underline;
    color: black;
    text-shadow: 1px 1px black;
    font-family: 'Lato', 'sans-serif';
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

footer p {
    background-color: #cad9df;
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 0px;
}

.no_gallery {
    margin-top: -15px;
}

@keyframes mymove{
    from {color: #DBE9EE}
    to {color: black}
}

h1 {
    animation: mymove 5s;
}  

@keyframes mygrow {
    from {height: 120px;}
    to {height: 170px;}
}

img {
    animation: mygrow 3s;
}

.skip {
  padding: 6px;
  font-weight: bold;
  background: palevioletred;
  border: 2px dashed grey;
  -webkit-transition: top 0.5s ease-out;
  transition: left 0.5s ease-out;
  z-index: 1;
  position: absolute;
  left: -300px;
}

.skip:focus {
    left: 0px;
}

.no_background {
    background: #DBE9EE;
    max-width: 100%;
    min-height: fit-content;
}

.no_background .index_fix {
    margin-top: -200px;
}

video {
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.video h3 {
    text-align: center;
}

h3 {
    font-size: 20px;
    font-style: italic;
    text-decoration: underline;
    font-family: 'Lato', 'sans-serif';
    margin-bottom: 15px;
}
  
.flip-card {
    background-color: transparent;
    width: 270px;
    height: 200px;
    perspective: 1000px; 
}

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: center;
    transition: transform 2s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card:hover {
      outline: none;
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  
  .flip-card-back {
    background-color: #cad9df;
    color: black;
    transform: rotateY(180deg);
  }

.contact_header h2 {
    text-align: center;
    text-decoration: none;
    font-style: normal;
}    

@media screen and (min-width: 700px) {

    .gallery_about_me {
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: flex-end;
        margin-right: 20px;
    }

    .picture_gallery {
        grid-template-columns: 1fr 1fr;
    }

    .opener {
        margin-top: 200px;
        margin-bottom: 100px;
    }

    .opener p {
        font-size: 17px;
    }

    header nav li {
        width: 20%;
        font-size: 20px;
    }

    ul {
        flex-direction: row;
    }

    .picture_gallery .flex_card {
        justify-content: center;
    }

    .flip-card:focus .flip-card-inner {
        transform: rotateY(180deg);
    }
    
      .flip-card:focus {
          outline: none;
    }
}

@media screen and (min-width: 1000px) {

    .opener {
        margin-bottom: 250px;
    }

    .max_screen .picture_gallery{
        grid-template-columns: 1fr 1fr;
        justify-items: flex-end;
        column-gap: 30px;
    }

    .picture_gallery {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 0px;
        row-gap: 20px;
    }

    header nav li {
        font-size: 22px;
    } 

    .flex_card {
        flex-direction: column;
    }

    .picture_gallery .flex_card {
        justify-content: space-evenly;
    }

    .added_padding {
        padding-top: 55px
    }

    .paralax {
        margin-bottom: 200px;
    }
}

@media screen and (prefers-reduced-motion) {
    img {
        animation: none;
    }

    h1 {
        animation: none;
    }

    img:hover {
        border: 3px solid rosybrown;
    }

    .flex_card:hover {
        transform: none;
    }

    .video {
        display: hidden;
    }   

    .flip-card:focus .flip-card-inner {
        transform: none;
    }

    .flip-card:hover .flip-card-inner {
        transform: none;
    }

    img:hover{
        box-shadow: none;
    }

    .paralax {
        background-attachment: initial;
    }

}